.section-title {
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
  font-size: 2em;
}

p {
  font-size: 16px;
  border: 1px blue solid;
}


.main-nav {
  background-color: rgb(166, 206, 247);
  padding: 20px;
}

#name {
  border-radius: 2em;
  margin-bottom: 15px;
}


li a {
  text-decoration: none;
  color: lightslategrey;
}

li.favorite-food {
  display: inline-block;
  padding: 5px;
}

.hero {
  text-align: center;
  position: relative;
  top: 15px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
